<h3>Create an Account</h3>
<form [formGroup]="authForm" class="ui form">
  <div class="field">
    <label>Username</label>
    <input type="text" formControlName="username" />
    {{ authForm.controls.username.errors | json }}
  </div>

  <div class="field">
    <label> Password </label>
    <input type="text" formControlName="password" />
    {{ authForm.controls.password.errors | json }}
  </div>

  <div class="field">
    <label> Confirm Password </label>
    <input type="text" formControlName="passwordConfirmation" />
    {{ authForm.controls.passwordConfirmation.errors | json }}
  </div>

  <button class="ui submit button primary">Submit</button>
</form>

{{ authForm.errors | json }}
