<div class="ui active centered inline loader" *ngIf="isLoading$ | async"></div>

<div *ngIf="!(isLoading$ | async)" class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="ui item">Angular Email</a>
    <div class="right menu">
      <ng-container *ngIf="signedIn$ | async">
        <a routerLink="/inbox" routerLinkActive="active" class="ui item"
          >Inbox</a
        >
        <a routerLink="/signout" routerLinkActive="active" class="ui item"
          >Sign Out</a
        >
      </ng-container>
      <ng-container *ngIf="!(signedIn$ | async)">
        <a
          routerLink=""
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          class="ui item"
          >SignIn</a
        >
        <a routerLink="/signup" routerLinkActive="active" class="ui item"
          >SignUp</a
        >
      </ng-container>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
